@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0a0a0a; /* Dark background for the industrial feel */
  color: #e0e0e0; /* Light text color */
  font-family: 'Arial', sans-serif;
}
